<!-- <div class="restaurant-details">

    <h3>Our Restaurants</h3>

    <div *ngFor="let section of restaurants"  class="restaurants-section" >
        <img [src]="section.logoUrl" alt="{{ section.category }} logo" class="restaurant-logo"style="position: relative; bottom: 20px; ">
        
        <h4 style="position: relative; bottom: 28px;">{{section.category}}</h4>
        <div class="button-menu-order">
        <button type="button" class="btn btn-dark menu-order" [routerLink]="['/public-order']">View menu and order</button>
    </div>
    </div>
</div> -->
