<div class="restaurant-details">
  <h3 class="title">Our Restaurants</h3>

  <div *ngFor="let section of restaurants" class="restaurants-section">
    <div class="restaurant-info">
      <img [src]="section.logoUrl" alt="{{ section.category }} logo"
        class="restaurant-logo"/>
      <div>
        <h4 class="restaurant-category">{{ section.category }}</h4>
        <div class="rating">
          <ng-container *ngFor="let star of [].constructor(5); let i = index">
            <img
              *ngIf="i < section.rating" src="images/star.png" alt="Star" class="star-icon"/>
            <img
              *ngIf="i >= section.rating" src="images/starEmpty.png" alt="Empty Star" class="star-icon"/>
          </ng-container>
        </div>
      </div>
    </div>
    <button class="btn btn-primary menu-order" [routerLink]="['/dashboard/public-order']"
    [queryParams]="{ restaurantId: section.id }">View Menu & Order</button>
  </div>
</div>

  